body {
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
}

/* navbar */

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(58, 54, 54);
  padding: 16px;
  font-size: 20px;
}

.navbar_icon {
  color: white;
}

.navbar_menu {
  display: flex;
}

.navbar_menu_item {
  margin-left: 10px;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.navbar_menu_item:hover {
  background-color: rgb(71, 148, 122);
}

.active {
  border: 1px solid white;
}

/* toggle button */
.navbar_toggle-btn {
  position: absolute;
  top: 16px;
  right: 32px;
  font-size: 24px;
  display: none;
}

/* home */
#home {
  background-image: url(/image/background.jpg);
  background-position: center;
  height: 700px;
  color: white;
  display: flex;
  align-items: center;
}

.home_description {
  font-size: 40px;
  font-weight: 900;
  color: white;
  margin-left: 140px;
  max-width: 70%;
}

.home_title {
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 5px #000;
}

.home_contact {
  font-size: 30px;
  font-weight: 900;
  background-color: rgb(148, 57, 233);
  border: 1px solid rgb(156, 156, 156);
  border-radius: 40px;
  padding: 3px 16px;
  transition: all 250ms ease-in;
}

.home_contact:hover {
  transform: scale(1.1);
}

/* about */
#about {
  text-align: center;
  padding: 60px;
}

.about_title {
  font-size: 40px;
  font-weight: 800;
}

.about_subtitle {
  font-size: 25px;
  font-weight: 600;
}

.about_description {
  margin: 30px 0;
}

.about_major {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.major_icon {
  height: 130px;
  width: 130px;
  line-height: 130px;
  margin: auto;
  border: 2px solid rgb(166, 198, 235);
  border-radius: 50%;
  font-size: 70px;
  color: rgb(166, 198, 235);
}

.major_icon i {
  transition: all 250ms ease-in-out;
}

.major_icon i:hover {
  transform: rotate(-20deg) scale(1.1);
  color: rgb(255, 211, 218);
}

.major_title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
}

/* work */
#work {
  background-color: rgb(238, 238, 238);
  text-align: center;
  padding: 60px;
}

.work_title {
  font-size: 40px;
  font-weight: 800;
}

.work_subtitle {
  font-size: 25px;
  font-weight: 600;
}

.work_category {
  margin-top: 14px;
}

.category_btn {
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
}

.category_count {
  color: white;
  background-color: orange;
  height: 24px;
  line-height: 24px;
  width: 24px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.work_project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.project {
  background-color: rgb(202, 202, 202);
  width: 280px;
  height: 280px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.project img {
  max-height: 100%;
  max-width: 100%;
}

.project_name {
  position: absolute;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all 250ms ease-in;
}

.project_name:hover {
  opacity: 0.8;
  transform: translateY(0);
}

/* contact */
#contact {
  text-align: center;
  padding: 60px;
  background-color: rgb(205, 205, 236);
  outline: 2px solid white;
  outline-offset: -13px;
}

.contact_title {
  font-size: 40px;
  font-weight: 800;
}

.contact_email {
  font-size: 25px;
  font-weight: 600;
}

.contact_link {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.contact_github {
  font-size: 40px;
  color: black;
  margin-right: 10px;
  margin-top: 3px;
  transition: all 250ms ease-in;
}

.contact_github:hover {
  transform: scale(1.1);
}

.contact_blog {
  width: 45px;
  height: 45px;
  transition: all 250ms ease-in;
}

.contact_blog:hover {
  transform: scale(1.1);
}

.contact_rights {
  margin-top: 30px;
  font-size: 14px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar_toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 14px;
    display: none;
  }

  .navbar_menu.open {
    display: block;
  }
}
